node_modules/
.env
Frontend/my-app/package-lock.json
Backend/package-lock.json
Backend/package.json
Backend/package-lock.json
Backend/package-lock.json
*.json
*.json
Frontend/my-app/package-lock.json
Frontend/my-app/package.json
